@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-color: white;
    }

    h1 {
        color: black;
        text-shadow: 2px 3px #2e2b2b;
    }

    .lead {
        color: black;
    }

    body {
        background-color: black;
    }

    .img2 {
        border: 2px solid white;
    }
</style>
<body>
    <div class="jumbotron">
        <h1>Music Website</h1>
        <p class="lead">“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to everything.” – Plato</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">

            <p>
                <img src="https://media1.tenor.com/images/97948ca733915eb236871a1b422e3a2b/tenor.gif?itemid=3535566" alt="turn_off_world_turn_on_music" width="380">
            </p>

        </div>
        <div class="col-md-4">
            <p class="img2">
                <img src="https://64.media.tumblr.com/580e9ef401985f40f5df5800330d836b/tumblr_pg8ngoM3DR1vq3pwfo1_500.gifv" alt="turn_off_world_turn_on_music" width="340">
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <img src="https://media1.tenor.com/images/97948ca733915eb236871a1b422e3a2b/tenor.gif?itemid=3535566" alt="turn_off_world_turn_on_music" width="380">
            </p>
        </div>
    </div>

</body>
